[submodule "SteamKit"]
	path = SteamKit
	url = https://github.com/paralin/SteamKit.git
[submodule "Dependencies/Dota2"]
	path = Dependencies/Dota2
	url = https://github.com/paralin/Dota2.git
[submodule "Dependencies/stateless"]
	path = Dependencies/stateless
	url = https://github.com/nblumhardt/stateless.git
